body
{
   
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS8C1C_wyBMbL0Xt-Tn-wGWF8N20Y3OkjvU0d2zxQrsoRf6vMG");
background-repeat: no-repeat;
background-position: top;
background-size: 1600px 800px;